.write{
    background-color: $background;
    max-width: 750px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;

    .writeImg {
        width: 100%;
        height: 150px;
        border-radius: 10px;
        object-fit: cover;
    }
     .writeForm{
        position: relative;
    }
    .writeFormGroup{
        display: flex;
        align-items: center;
    }
      .writeIcon {
        width: 60px;
        height: 60px;
        font-size: 50px;
        border: .2px solid gray;
        border-radius: 50%;
        color: rgb(129, 125, 125);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
      .writeInput {
        font-size: 30px;
        border: none;
        padding: 20px;
        width: 100%;
        background-color: $background;

    }
      .writeInput::placeholder {
        color: rgb(189, 185, 185);
        font-weight: 400;
    }
      .writeInput:focus {
        outline-style: none;
    }
     .writeText {
        width: 100%;
        height: 40vh;
        font-family: inherit;
        font-size: 16px;
        background-color: $background;

    }
    .categories-section{
      position: relative;
      display: inline-block;
      font-size: 24px;
      color: black;

    }
    .dropbtn{
      background-color:$main-color;
      color: white;
      padding: 4px;
      font-size: 20px;
      border: none;
      border-radius: 10px;
     
      .dropdown-content {
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;

    }
  }
     .writeSubmit {
      
        font-family: 'nunito', sans-serif;
        font-weight: 800;
        font-size: 16px;
        align-items: center;
        // display: flex;
        justify-content: center;
        &:hover{
          border: 1px solid $main-color;
        }
    }

}
@media screen and (max-width: 900px) {
  .write{
    padding: 10px 40px;
  }
  .categories-section{
    font-size: 16px;
  }
  .dropbtn{
    font-size: 10px;
    min-width: none;
  }
  .dropbtn{
    color: white;
    padding: 5px;
    font-size: 10px;
    border: none;
    border-radius: 5px;
}

}

  

  