.home{
    position: relative;
    padding: .5em 0;
    
    h1{
        width: 100%;
        color: $text-color;
        padding: 15px 0;
    }
    
}
.homes{
    display: flex;
}
.anticon.anticon-plus-circle{
    position: fixed;
    top: 85vh;
    font-size: 50px;
    z-index: 100;
    right: 18px;
    color: black;
    cursor: pointer;
    &:hover{
        color: teal;
    }
    
}
.sec{
    display: flex;
    align-items: flex-start;
}
@media screen and (max-width: 900px){
    .anticon.anticon-plus-circle{
        color: white;
    }
}