.ant-input-group{
    width: fit-content;
    border-radius: 10px;
    padding: 0 20px 0 20px;
}
.ant-btn-primary{
    // background: inherit;
    // border-color:inherit;
    text-shadow: none;
    box-shadow: none;
}
.site-navigation{
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 65px;
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    color:$text-color;
    align-items: center;

    .menu-title{
        align-items: center;
        font-size:22px;
        height:100%;
        display: flex;
        margin-left: 30px;
        color: black;
        &:hover{
            color:$text-link
        }
    }

    .menu-content-container{
        display: flex;
        align-items: center;
        margin-right: 30px;

        ul{
            list-style-type: none;
            display: flex;
            flex-direction: row;
            height:100%;
            justify-content: flex-end;
            margin: 0 20px 0 20px;
            margin-block-start: 0;
            margin-block-end: 0;
            padding-inline-start: 0;

            a{
                text-decoration: none;
                padding: 0 20px 0 20px;
                font-size: 20px;
                color: $text-color;

                &:hover{
                    color:$text-link;
                }
            }
        }
        .class{
            display: flex;
            flex-direction: row;
            .anticon-logout{
                font-size: 20px;
                padding: 30px;
                color:black;
                    &:hover{
                        color:$text-link;
                    }
            }
        }
        .menu-avatar-container{
            display: flex;
            flex-direction: row;
            height: 100%;
            justify-content: center;
            align-items: center;
            
            .ant-avatar{
                padding: 0 5px 0 5px;
                background-color: $background;
                border: 1px solid $border;
            }
            .menu-avatar-name{
                padding: 30px;
                display: inline-block;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }
    .ion-ios-menu{
        font-size: 36px;
        display: none;
        cursor: pointer;
        align-items: center;
        margin-right: 30px;
    }
}
.login-div{
    .anticon-login{
        font-size: 20px;
        padding: 30px;
        color:black;
            &:hover{
                color:$text-link;
  }       }
}

@media screen and (max-width: 900px) {
    .site-navigation{
        .menu-content-container{
            width: 300px;
            height: calc(100%-65px);
            background: white;
            position: fixed;
            top: 65px;
            left: -300px;
            transition: 300ms ease left;
            flex-direction: column-reverse;

            ul{
                flex-direction: column;
                justify-content: flex-start;

                li{
                    text-align: left;
                    height: 65px;
                    display: flex;
                    align-items:center;
                }
                a{
                    padding: 20px 15px;
                    width: 100%;
                }

            }
            .ant-avatar{
                align-self: flex-start;
                margin-left:8%;
            }
            .menu-avatar-container{
                display: flex;
                flex-direction: row;
            }
            ul, li, .menu-avatar-container{
                width: 100%;
            }
        }
        &.active{
            .menu-content-container{
                left:0px
            }
        }
        
        .ion-ios-menu{
            display:block;
        }
    }
}