.ant-input-group{
    width: fit-content;
    border-radius: 10px;
    padding: 0 20px 0 20px;
}
.ant-btn-primary{
    // background: inherit;
    // border-color:inherit;
    text-shadow: none;
    box-shadow: none;
}
.site-navigation{
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 65px;
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    color:$text-color;
    align-items: center;
    font-family: 'nunito', sans-serif;
    box-shadow: 0px 0px 8px 0px #d4d4d4;

    .menu-title{
        align-items: center;
        font-size:22px;
        height:100%;
        display: flex;
        margin: 'fit-content';
        font-weight: 800;
        font-family: 'DM Serif Display', serif;
        margin-left: 30px;
        color: black;
        &:hover{
            color:$text-link
        }
    }

    .menu-content-container{
        display: flex;
        justify-content: center;
        margin-right: 30px;

        ul{
            list-style-type: none;
            display: flex;
            flex-direction: row;
            height:100%;
            justify-content: center;
            margin: 0 20px 0 20px;
            align-items: center;
            padding-top: 20px;

            a{
                text-decoration: none;
                padding: 0 20px 0 20px;
                font-size: 20px;
                color: $text-color;

                &:hover{
                    color:$text-link;
                }
            }
        }
        .class{
            display: flex;
            flex-direction: row;
            .anticon-logout{
                font-size: 20px;
                padding: 30px;
                color:black;
                    &:hover{
                        color:$text-link;
                    }
            }
        }
        .menu-avatar-conatiner{
            display: flex;
            flex-direction: row;
            height: 100%;
            justify-content: center;
            align-items: center;
            // padding-top: 20px;
            .ant-avatar{
                // padding: 0 5px 0 5px;
                background-color: $background;
                border: 1px solid $border;
                // padding-top: 20px;
            }
            .menu-avatar-name{
                padding: 10px;
                display: inline-block;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }
    .ion-ios-menu{
        font-size: 36px;
        display: none;
        cursor: pointer;
        align-items: center;
        margin-right: 30px;
    }
}
.login-div{
    display: flex;
    align-items: center;
    .anticon-login{
        font-size: 20px;
        // padding: 30px;
        color:black;
            &:hover{
                color:$text-link;
  }       }
}

@media screen and (max-width: 900px) {
    .site-navigation{
        .menu-content-container{
            width: 70vw;
            height: calc(100%-65px);
            background: white;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(3.3px);
            -webkit-backdrop-filter: blur(3.3px);
            border: 1px solid rgba(26, 27, 27, 0.3);           
            position: fixed;
            top: 65px;
            left: -300px;
            transition: 300ms ease left;
            flex-direction: column-reverse;
            .closeic{
                z-index: 100;
                display: flex;
                justify-content: flex-end;
                left: 10px;
                // background: yellow;
                .anticon-close{
                    top: 0;
                    font-size: x-large;
                }
            }

            ul{
                color: black;
                font-size: x-large;
                font-weight: 800;
                flex-direction: column;
                justify-content: flex-start;

                li{
                    text-align: left;
                    height: 65px;
                    display: flex;
                    align-items:center;
                }
                a{
                    padding: 20px 15px;
                    width: 100%;
                }

            }
            .class{
                display: flex;
                flex-direction: column;
                .ant-avatar{
                    align-self: center;
                    margin-top: 10px;
                    margin-left:30%;
                }
                .anticon-logout{
                    margin-left: 25%;
                }
                .menu-avatar-container{
                    display: flex;
                    flex-direction: row;
                }
                ul, li, .menu-avatar-container{
                    width: 100%;
                }
            }
        }
        &.active{
            .menu-content-container{
                left:0px
            }
        }
        
        .ion-ios-menu{
            display:block;
        }
      
    }
}