.card-box{
    display: flex;
    flex-direction: column;
    background-color: #fdfdfd;
    border-radius: 1px solid #eee;
    box-shadow: 0px 0px 8px 0px #d4d4d4;
    transition: 0.5s;
    // margin: 0 15px;
    text-align: justify;
    
    &:hover{
        border: 1px solid #007bff;
    }
    
    figure{
        height: 100px;
    }
    img {
        position: relative;
        // border-radius: 5px;
        overflow: hidden;
        object-fit: cover;
        object-position: center center;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        max-height: 280px;
    }
 
    .author-title{
        padding: 10px;
        color: black;
        span:nth-child(1){
            margin-right: 10px;
        }
    }
    .title{
        color: black;
        align-self: flex-start;
        font-size: 20px;
        font-weight: 800px;
        font-family: 'Castoro', serif;
    }
    .post-description{
        color: black;
    }
}
@media screen and (max-width: 900px){
    .card-box{
        margin: .5px 30px;
        .title{
            font-size: 15px;
            font-weight: 800px;
        }
        .author-title{
            padding: 5px;
            margin-top: -8px;
        }
    }
}
