.grid-pagination-container {
    .ant-pagination {
        text-align: center;
        padding-bottom: 50px;
    }
}

.post-grid {
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    margin: auto;
    padding-bottom: 50px;
    // flex: 9;
    border-right: 1px solid lightgrey;
    padding-right: 50px;
    // float: right;
    figure {
        height: 500px;
    }

    img {
        position: relative;
        border-radius: 1px;
        overflow: hidden;
        object-fit: cover;
        object-position: center center;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        height: 500px;
    }

    .post-container {
        display: flex;
        flex-direction: column;

        .author-text {
            color: $text-light;
        }

        .author-text a {
            padding: 0 5px;
        }

        .description-text {
            font-size: 18px;
            font-weight: 400px;
            color: #555;
        }
    }
}
@media screen and (max-width: 900px){
    .post-grid{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
        grid-gap: 30px;
        grid-auto-rows: 1fr;
        padding-bottom: 50px;
        // padding-right: none;
        border-right: none;
        padding-right: none;
        figure{
            height: 100px;
        }
    }
    
}