.body{
  background-color: #ecf0f3;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;

.container{
  background-color:#ecf0f3  ;
  position: relative;
  width: 350px;
  height:550px;
  border-radius: 20px;
  background:#ecf0f3;
  box-sizing: border-box;
  padding: 40px;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;

}
.icon{
  // height: 100px;
  /* margin-top: 5px; */
  // width: 100px;
  // margin: auto;
  // align-items: center;
  // justify-items: center;
  // place-content: center;
  // border-radius: 50%;
  // box-sizing: border-box;
  // box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
  // background: url(./icons8-twitter-48.png) center no-repeat;
}
.title{
  margin: auto;
  color: $main-color;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 1.4rem;
  text-align: center;
}
.inputs{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 10px;
}
label, input, button{
  width: 100%;
  display: block;
  padding: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
}
label{
  margin-bottom: 4px;
}
label:nth-of-type(2){
  margin-top: 12px;
}
input::placeholder{
  color:gray;
}
input{
  background:#ecf0f3;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  padding: 10px;
  padding-left: 20px;
  box-shadow: inset 5px 5px 5px #cbced1, -5px -5px 5px white;
}
button{
  margin-top: 20px;
  background: $main-color;
  height: 40px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
  color:black;
}
button:hover{
  box-shadow: none;
}
}