.profileRightTop{
        display: flex;
        height: 400px;
        margin-bottom: 25px;
        .profileCover{
        width: 100%;
        height: 250px;
        position: relative;
        // background-image:url('https://res.cloudinary.com/eliashezron1/image/upload/v1627808725/postImages/logo-1627808732771.png');
        object-fit:cover;
        background-size: cover;
        overflow: hidden;
        background-position: center center;
        .image-text{
            display: flex;
            height: 100%;
            width: 100%;
            color: white;
            font-weight: 400;
            font-size: larger;
            font-family: 'nunito', sans-serif;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 1000000;
        }
   
    }
    .profileCover::before{
        z-index: 1;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        /* From https://css.glass */
        background: rgba(19, 18, 18, 0);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
        border: 1px solid rgba(19, 18, 18, 0.3);
    }

    .profileUserImg{
            margin-bottom: 5px solid white;
            height: 400px;
            position: absolute;
            left: 0;
            right: 0;
            z-index: 1;
            margin: auto 20px;
            top: 300px;
            padding-left: 120px;
            .ant-avatar{
                border: 10px solid white;
            }
        }
        .profileInfo{
            display: flex;
            flex-direction:column;
            justify-content:flex-start;
            margin-left: 200px;
            .profileInfoName{
                font-size: 36px;
                text-transform: capitalize;
                font-family: 'Castoro', sans-serif;

            }
            
            .profileInfoDesc{
                font-weight: 400;
                font-size: 14px;
                font-family: 'Raleway', sans-serif;
            }
        }
        .but{
            z-index: 1;
            display: flex;
            justify-content: flex-end;
            margin-right: 50px;
            margin-top: -50px;
            .ant-btn{
                font-size: 18px;
                width: max-content;
                height: fit-content;
            }
            span{
                cursor: pointer;
            }
            .anticon-ellipsis{
                margin-right: 10px;
                margin-top: 13px;
                cursor: pointer;
                &:hover{
                    background: $main-color;
                }
            }
        }
        &:hover{
            border: none !important;
        }
}

@media screen and (max-width: 900px){ 
    .profileRightTop{
        height: 160px;
        .profileCover{
            height: 75px;
            position: relative;
        }
        .profileUserImg{
            position: absolute;
            margin-bottom: 2px solid white;
            height: 100px;
            top: 140px;
            display: flex;
            padding-left: 0px;
            .ant-avatar{
                
                border: 5px solid white;
            }
        }
        .profileInfo{
            color: black;
            display: flex;
            justify-content: left;
            margin-left: 110px;
            margin-top: 20px;
            .profileInfoName{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                font-size: 20px;
                font-family:'DM Serif Display', serif;
            }
        }     
        
        .but{
            display: flex;
            justify-content: flex-end;
            margin-right: 20px;
            margin-left: 70px;
            margin-top: -30px;
            .ant-btn{
                font-size: 14px;
                height: fit-content;
            }
            .anticon-ellipsis{
                margin-right: 5px;
                margin-top: 8px;
                cursor: pointer;
              
            }
        }
    }
    
}

