@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@400&display=swap');
@import './_variables';
@import './_navigation';
@import './_tagRow';
@import './_postMasonry';
@import './_home';
@import './_postGrid';
@import './_masonryPost';
@import './_singlepost';
@import './_login';
@import './_register';
@import './_createPost.scss';
@import './_profile.scss';
@import './_rightBar.scss';
@import './_sideBar.scss';
@import './_banner.scss';
@import './_error.scss';
@import './_postComponent.scss';

body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: 500;
    margin: 0;
    background-color: #f8f9fa;
}
main{
    margin-top: 65px;
}
// h1 {
//     font-size: 2rem;
// }

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    margin: .2em 20px;
}

.overlay::before {    
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, transparent 0%, transparent 18%, rgba(0,0,0,0.8) 99%, rgba(0,0,0,0.8) 100%)
}